@import "../../Variables.css";
.cilindros-biombos-detail {
  width: 100%;
  display: grid;
  place-content: center;
}
.cilindros-biombos-detail__container {
  margin: 40px;
  padding: 30px;
  background: var(--white);
  max-width: 1300px;
  display: grid;
  grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
  gap: 40px;
}
.cilindros-biombos__info-products {
  display: grid;
  place-content: center;
}
.cilindros-biombos__info-products__container {
  color: var(--colorText1);
}
.cilindros-biombos__marca-container {
  display: flex;
  justify-content: space-between;
}
.cilindros-biombos__id {
  color: var(--colorText6);
}
.cilindros-biombos__marca {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
}
.cilindros-biombos-title {
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 30px;
}
.cilindros-biombos-description {
  font-size: 1rem;
}
.cilindros-biombos-list__title {
  font-weight: 600;
  font-size: 1.4rem;
}
.cilindros-biombos__precio-anterior {
  text-decoration-line: line-through;
}
.cilindros-biombos__price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.cilindros-biombos__price-container--negrita {
  font-weight: 600;
  font-size: 1.3rem;
}
.cilindros-biombos__image {
  width: 100%;
}

@media (max-width: 990px) {
  .cilindros-biombos-detail__container {
    /* grid-template-columns: minmax(100px, 500px) minmax(100px, 400px); */
    grid-template-columns: 1fr;
    margin: initial;
  }
  .cilindros-biombos__marca-container {
    display: block;
  }
}
