.navbar-list__container {
    display: flex;
    justify-content: end;
}
.navbar-list {
    display: flex;
    list-style: none;
    color:white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: initial;
    padding: initial;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.navbar-li {
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
}
@media (max-width: 648px) {
    .navbar-list {
      display: none;
    }
    /* .navbar_container {
      grid-template-areas: "logo sercah list";
      grid-template-columns: 1fr 3fr 0.5fr;
    } */
  }