:root {
    --firstColor: #4f31da;
    --white: #ffff;
    --black: #000000;
    --hoverButton: #fbffd3;
    --colorText: #bbbbbb33;
    --colorText1: #666666;
    --colorText2: #cfcfcf;
    --colorText3: #2c2c2c;
    --colorText4: #ffdb28;
    --colorText5: #484848;
    --colorText6: #ababab;
    --primaryColor: #4f31da;
    --secondaryColor: #00b19f;
    --fontSizeH2: 2.5rem;
    --fontTitle: 1.9rem;
    --fontSizeButton: 1.2rem;
    --fontWeightButton: 700;
    --backgroundColor: #bbbbbb6b;
    --backgroundColor2: #ff005073;
    --poppins: 'Poppins'; 
    --nunito: 'Nunito';
    --rubik: 'Rubik';
}